{% extends 'base.html.twig' %}

{% block title %}Etudiant index{% endblock %}

{% block body %}
<div class="index" style='box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); border-radius: 10px; border: 1px solid #dddfe2; padding: 15px;'>
    <div class="head-index" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 10px">
        <h1 style="color: #3378F1; font-weight: 600;">les étudiants du : {{session.name}}</h1>
        <a href="{{ path('app_etudiant_new') }}"><i class="icon-user-plus" style="font-size: 30px; color: #4caf50;"></i></a>
    </div>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr style="color: #3378F1; font-size: 14px; text-align: center;">
                <th>Image</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Centre</th>
                <th>Categorie</th>
                <th>Sous categorie</th>
                <th>Groupe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etudiant in etudiants %}
            {% if etudiant.annee.id == session.id and etudiant.centre == app.user.centre %}
                <tr style="text-align: center;">
                    <td><img style="width: 50px; border-radius: 50%;" src={{ asset('uploads/images/' ~ etudiant.image) }}></td>
                    <td>{{ etudiant.nom }}</td>
                    <td>{{ etudiant.prenom }}</td>
                    <td>{{ etudiant.centre }}</td>
                    <td>{{ etudiant.category }}</td>
                    <td>{{ etudiant.souscategory }}</td>
                    <td>{{ etudiant.groupe }}</td>
                    <td class="action" style="justify-content: space-between !important; width: 60%">
                        <a href="{{ path('app_etudiant_show', {'id': etudiant.id}) }}" style="margin-top: 20px;"><i class="icon-eye2"></i></a>
                        <a href="{{ path('app_etudiant_edit', {'id': etudiant.id}) }}" style="margin-top: 20px;"><i class="icon-pencil7"></i></a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
