{% extends 'base.html.twig' %}

{% block title %}Listpayment{% endblock %}

{% block body %}

    <h1 style="color: #3378F1; font: 600; width: 96%; margin: 0 auto; margin-bottom: 20px; text-align: center; font-weight: 600;">la facteure de paiement</h1>

    <div style="margin: 0 auto; display: flex; justify-content: space-between; padding: 10px; margin-bottom: 5px; width: 80%;border: 1px solid #dddfe2;">
        <div style="padding: 10px; margin-bottom: 5px;">
            <div><span style="font-weight: 600;">Etudiant : </span>{{etudiant[0].nom}} {{etudiant[0].prenom}}</div>
            <div><span style="font-weight: 600;">Centre : </span>{{etudiant[0].centre}}</div>
            <div><span style="font-weight: 600;">Groupe : </span>{{etudiant[0].groupe}}</div>
        </div>

        <div style=" margin-bottom: 5px;">
            <img src="../../../../global_assets/images/admigha.png" style="width: 100px; border-radius: 50%;" />
        </div>

        <div style="padding: 10px; margin-bottom: 5px;">
            <div><span style="font-weight: 600;">Date : </span>{{'now'|date("d-m-Y")}}</div>
            <div><span style="font-weight: 600;">session : </span>{{etudiant[0].annee}}</div>
        </div>
    </div>

    <table class="table" style="margin: 0 auto; margin-bottom: 5px; width: 80%; text-align: center; border: 1px solid #dddfe2;">
        <tbody style="border: 1px solid #dddfe2;">
            <thead>
                <tr style="font-weight: 600;">
                    <th>Id</th>
                    <th>Etape</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Status</th>
                    <th>Solde des frais</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ listpayment.id }}</td>
                    <td>{{ listpayment.name }}</td>
                    <td>{{ listpayment.from }}</td>
                    <td>{{ listpayment.to }}</td>
                    <td>{{ listpayment.status }}</td>
                    <td>{{ etudiant[0].payement.prix }} DH</td>
                </tr>
            </tbody>
        </tbody>
    </table>

    <div style="margin: 0 auto; padding: 10px; width: 80%; display: flex; justify-content: end; font-weight: 700;"><span>Montant total payé : &nbsp; &nbsp;</span> {{ listpayment.prix }} dirham</div>
    <div class="text-right" style="width: 80%; margin: 0 auto; margin-top: 20px;">
        <button type="submit" class="btn btn-primary">Imprimer <i class="icon-printer ml-2"></i></button>
    </div>

{% endblock %}


