{% extends 'base.html.twig' %}

{% block title %}Sale index{% endblock %}

{% block body %}
<div class="index" style='box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); border-radius: 10px; border: 1px solid #dddfe2; padding: 15px;'>
    <div class="head-index" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 10px">
        <h1 style="color: #3378F1; font-weight: 600;">Sales</h1>
        <a href="{{ path('app_sale_new') }}"><i class="icon-plus-circle2" style="font-size: 30px; color: #4caf50;"></i></a>
    </div>

    {# admin #}
    {% if is_granted('ROLE_ADMIN') %}
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr style="color: #3378F1; font-size: 14px; text-align: center;">
                <th>Id</th>
                <th>Nom</th>
                <th>Centre</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr style="text-align: center;">
                <td>{{ sale.id }}</td>
                <td>{{ sale.nom }}</td>
                <td>{{ sale.centre }}</td>
                <td>{{ sale.ville }}</td>
                <td class="action" style="width: 50%;">
                    <a href="{{ path('app_sale_edit', {'id': sale.id}) }}"><i class="icon-pencil7"></i></a>
                    {{ include('sale/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# directeur #}
    {% elseif  is_granted('ROLE_DIRECTEUR') %}
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr style="color: #3378F1; font-size: 14px; text-align: center;">
                <th>Id</th>
                <th>Nom</th>
                <th>Centre</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            {% if sale.centre == app.user.centre %}
                <tr style="text-align: center;">
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.nom }}</td>
                    <td>{{ sale.centre }}</td>
                    <td>{{ sale.ville }}</td>
                    <td class="action" style="width: 50%;">
                        <a href="{{ path('app_sale_edit', {'id': sale.id}) }}"><i class="icon-pencil7"></i></a>
                        {{ include('sale/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}


</div>

{% endblock %}
