{% extends 'base.html.twig' %}

{% block title %}Employeur{% endblock %}

{% block body %}

    <div class="edit-head" style="width: 96%; margin: 0 auto; display: flex; align-items: center;">
        <h1 style="color: #3378F1; font: 600; width: 96%; font-weight: 600;">Page Employée</h1>
        <div style="display: flex; align-items: center; justify-content: space-between; width: 15%;">
            <a href="{{ path('app_employeur_edit', {'id': employeur.id}) }}"><i class="icon-pencil7" style="font-size: 25px; color: #4caf50;"></i></a>
            {{ include('employeur/_delete_form.html.twig') }}
        </div>
    </div>


    <table class="table" style="margin: 0 auto; width: 80%; text-align: center;">
        <div style="width: 100%; display: flex; justify-content: center;">
            <img style="width: 150px; border-radius: 50%; margin-bottom: 10px;" src={{ asset('uploads/images/' ~ employeur.image) }}>
        </div>
        <tbody style="border: 1px solid #dddfe2;">
            <tr>
                <th>Nom</th>
                <td>{{ employeur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employeur.prenom }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ employeur.type }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ employeur.sexe }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ employeur.telephone }}</td>
            </tr>
            <tr>
                <th>CIN</th>
                <td>{{ employeur.CIN }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employeur.email }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ employeur.adresse }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ employeur.salary }}</td>
            </tr>
            
        </tbody>
    </table>

    
{% endblock %}
