{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
<div class="index" style='box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); border-radius: 10px; border: 1px solid #dddfe2; padding: 15px;'>
    <div class="head-index" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 10px">
        <h1 style="color: #3378F1; font-weight: 600;">Villes</h1>
        <a href="{{ path('app_ville_new') }}"><i class="icon-plus-circle2" style="font-size: 30px; color: #4caf50;"></i></a>
    </div>


    <table id="example" class="display" style="width:100%">
        <thead>
            <tr style="color: #3378F1; font-size: 14px; text-align: center;">
                <th>Id</th>
                <th>Name</th>
                <th>Postale</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr style="text-align: center;">
                <td>{{ ville.id }}</td>
                <td>{{ ville.name }}</td>
                <td>{{ ville.postale }}</td>
                <td class="action" style="width: 30%;">
                    <a href="{{ path('app_ville_edit', {'id': ville.id}) }}"><i class="icon-pencil7"></i></a>
                    {{ include('ville/_delete_form.html.twig') }} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
