{% extends 'base.html.twig' %}

{% block title %}plannings{% endblock %}

{% block body %}

<div class="index" style='box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); border-radius: 10px; border: 1px solid #dddfe2; padding: 15px;'>
    <div class="head-index" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 10px">
        <h1 style="color: #3378F1; font-weight: 600;">les plannings de {{category}} </h1>
        <a href="{{ path('app_planning_new') }}"><i class="icon-plus-circle2" style="font-size: 30px; color: #4caf50;"></i></a>
    </div>

    <div class="content">
        <div class="row">
            {% for planning in plannings %}
                {% if planning.category.id == category.id %}
                    <div class="card-img-actions">
                        <div class="card-img-actions-overlay card-img-top">
                            <a href="#" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                                <i class="icon-plus3"></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="../../../../uploads/pdf/{{ planning.planning }}" target="_blank">
                                    <img src="../../../../global_assets/images/pdf.jpg" width="100" height="100" class="rounded-circle" alt="" />
                                </a>
                                <h6 class="font-weight-semibold mb-0">{{planning.groupe}}</h6>
                                <div class="list-icons list-icons-extended mt-3">
                                    <a href="{{ path('app_planning_edit', {'id': planning.id}) }}" class="list-icons-item"><i class="icon-pencil7" style="font-size: 20px; color: #4caf50;"></i></a>
                                    {{ include('planning/_delete_form.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}