{% extends 'base.html.twig' %}

{% block title %}Groupe index{% endblock %}

{% block body %}
<div class="index" style='box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%); border-radius: 10px; border: 1px solid #dddfe2; padding: 15px;'>
    <div class="head-index" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; padding: 10px">
        <h1 style="color: #3378F1; font-weight: 600;">Groupes</h1>
        <a href="{{ path('app_groupe_new') }}"><i class="icon-plus-circle2" style="font-size: 30px; color: #4caf50;"></i></a>
    </div>

    {# admin #}
    {% if is_granted('ROLE_ADMIN') %}
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr style="color: #3378F1; font-size: 14px; text-align: center;">
                <th>Name</th>
                <th>Centre</th>
                <th>Categorie</th>
                <th>Sous Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            {% if groupe.sousCategory.id == sousCategory.id %}
                <tr style="text-align: center;">
                    <td>{{ groupe.name }}</td>
                    <td>{{ groupe.centre }}</td>
                    <td>{{ groupe.category }}</td>
                    <td>{{ groupe.souscategory }}</td>
                    <td class="action" style="width: 80%;">
                        <a href="{{ path('app_groupe_etudiant', {'id': groupe.id}) }}"><i class="icon-users"></i></a>
                        <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}"><i class="icon-pencil7"></i></a>
                        {{ include('groupe/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# directeur #}
    {% elseif  is_granted('ROLE_DIRECTEUR') %}
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr style="color: #3378F1; font-size: 14px; text-align: center;">
                <th>Name</th>
                <th>Centre</th>
                <th>Categorie</th>
                <th>Sous Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe in groupes %}
            {% if groupe.sousCategory.id == sousCategory.id %}
                {% if groupe.centre == app.user.centre %}
                    <tr style="text-align: center;">
                        <td>{{ groupe.name }}</td>
                        <td>{{ groupe.centre }}</td>
                        <td>{{ groupe.category }}</td>
                        <td>{{ groupe.souscategory }}</td>
                        <td class="action" style="width: 80%;">
                            <a href="{{ path('app_groupe_etudiant', {'id': groupe.id}) }}"><i class="icon-users"></i></a>
                            <a href="{{ path('app_groupe_edit', {'id': groupe.id}) }}"><i class="icon-pencil7"></i></a>
                            {{ include('groupe/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>

{% endblock %}
